@model EMS.WebApp.Data.sys_screen_name



<div class="row mb-3">
    <div class="col-md-12">
        <label class="form-label">Screen Name</label>
        <input class="form-control rounded-2" value="@Model.screen_name" readonly />
    </div>

    
    
        <div class="col-md-12">
            <label class="form-label">Description</label>
        <textarea class="form-control rounded-2" rows="3" readonly>@Model.screen_description</textarea>
        </div>
    </div>



<div class="text-end">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
